<footer>
    <div class="container">
        <div class="row">

            <div class="search-text">
                <div class="container">
                    <div class="row text-center">

                        <div class="form">
                            <h4>SIGN UP TO OUR NEWSLETTER</h4>
                            <form id="search-form" class="form-search form-horizontal">
                                <input type="text" class="input-search" placeholder="Email Address">
                                <button type="submit" class="btn-search">SUBMIT</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span class="logo">LOGO</span>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>
                    <li>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#">About</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>

                    <li>
                        <a href="#">Gallery </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Contact</span>
                    <li>
                        <a href="#">Phone</a>
                    </li>
                    <li>
                        <a href="#">Adress</a>
                    </li>
                    <li>
                        <a href="#">Email</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="adress">
                    <span>Adress</span>
                    <li>
                        <p>Lorem ipsum dolor sit amet, vero omnis vocibus</p>
                    </li>
                    <li>
                        <p>+90 1234 56789</p>
                    </li>
                    <li>
                        <p>info@gmail.com</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
