<div class="">
    <form action="{{ path('search', {template_name: 'gladiator', api_key: api_key}) }}" method="get">
        <input type="text" name="q" class="" placeholder="rechercher ...">
        <button type="submit" class="btn">Rechercher</button>
    </form>
</div>