<!DOCTYPE html>
{% set template_name =  app.request.get('template_name') %}
{% set api_key = app.request.get('api_key') %}
{% set config = app.session.get('config') %}
{% set rubriques = app.session.get('rubriques') %}
{% set menu = app.session.get('menu') %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ config.title }}{% endblock %}</title>
        <!--  -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!--  -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        {#{{ include('snippets/css.html.twig', {config: config}) }}#}
        <style>

            .primary-color{
                color: {{ config.couleur_primaire }} !important;
            }
        </style>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}

        <script type="text/javascript" src="https://cdn.hellomonweb.net/Assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.hellomonweb.net/Assets/js/sweet-alert.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
